<div>
    <h2>Network Members</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="network-member.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Network Member
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isDataShared"><span>Is Data Shared</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sendAlerts"><span>Send Alerts</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="networkMemberUser.email"><span>Network Member User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="networkOwner.email"><span>Network Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="networkMember in vm.networkMembers track by networkMember.id">
                    <td><a ui-sref="network-member-detail({id:networkMember.id})">{{networkMember.id}}</a></td>
                    <td>{{networkMember.isDataShared}}</td>
                    <td>{{networkMember.sendAlerts}}</td>
                    <td>
                        <a ui-sref="user-info-detail({id:networkMember.networkMemberUser.id})">{{networkMember.networkMemberUser.email}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-info-detail({id:networkMember.networkOwner.id})">{{networkMember.networkOwner.email}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="network-member-detail({id:networkMember.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="network-member.edit({id:networkMember.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="network-member.delete({id:networkMember.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
