<div>
    <h2>User Infos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-info.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new User Info
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userstatus"><span>Userstatus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userType"><span>User Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span>Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span>Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address2"><span>Address 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span>City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span>State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zip"><span>Zip</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span>Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="profilePic"><span>Profile Pic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateOfBirth"><span>Date Of Birth</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="gender"><span>Gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="yearInCollege"><span>Year In College</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="collegeDivision"><span>College Division</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="countryCode"><span>Country Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stateCode"><span>State Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastQuoteDate"><span>Last Quote Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastQuoteId"><span>Last Quote Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.email"><span>User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userInfo in vm.userInfos track by userInfo.id">
                    <td><a ui-sref="user-info-detail({id:userInfo.id})">{{userInfo.id}}</a></td>
                    <td>{{userInfo.userstatus}}</td>
                    <td>{{userInfo.userType}}</td>
                    <td>{{userInfo.phone}}</td>
                    <td>{{userInfo.address}}</td>
                    <td>{{userInfo.address2}}</td>
                    <td>{{userInfo.city}}</td>
                    <td>{{userInfo.state}}</td>
                    <td>{{userInfo.zip}}</td>
                    <td>{{userInfo.country}}</td>
                    <td>
                        <a ng-if="userInfo.profilePic" ng-click="vm.openFile(userInfo.profilePicContentType, userInfo.profilePic)">open</a>
                        <span ng-if="userInfo.profilePic">{{userInfo.profilePicContentType}}, {{vm.byteSize(userInfo.profilePic)}}</span>
                    </td>
                    <td>{{userInfo.dateOfBirth | date:'medium'}}</td>
                    <td>{{userInfo.gender}}</td>
                    <td>{{userInfo.yearInCollege}}</td>
                    <td>{{userInfo.collegeDivision}}</td>
                    <td>{{userInfo.countryCode}}</td>
                    <td>{{userInfo.stateCode}}</td>
                        <td>{{userInfo.lastQuoteDate | date:'mediumDate'}}</td>
                    <td>{{userInfo.lastQuoteId}}</td>
                    <td>
                        {{userInfo.user.email}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-info-detail({id:userInfo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-info.edit({id:userInfo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-info.delete({id:userInfo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
