
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myThoughtOfDayLabel">Create or edit a Thought Of Day</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.thoughtOfDay.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.thoughtOfDay.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.thoughtOfDay.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.thoughtOfDay.title"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.thoughtOfDay.url"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.thoughtOfDay)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.thoughtOfDay.imageContentType + ';base64,' + vm.thoughtOfDay.image}}" style="max-height: 100px;" ng-if="vm.thoughtOfDay.image" alt="thoughtOfDay image"/>
                <div ng-if="vm.thoughtOfDay.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.thoughtOfDay.imageContentType}}, {{vm.byteSize(vm.thoughtOfDay.image)}}</span>
                    <button type="button" ng-click="vm.thoughtOfDay.image=null;vm.thoughtOfDay.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.thoughtOfDay)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.thoughtOfDay.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.thoughtOfDay.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shortText">Short Text</label>
            <input type="text" class="form-control" name="shortText" id="field_shortText"
                    ng-model="vm.thoughtOfDay.shortText"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longText">Long Text</label>
                <textarea class="form-control" name="longText" id="field_longText"
                    ng-model="vm.thoughtOfDay.longText" ></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
