
<div>
    <h2><span>Thought Of Day</span> {{vm.thoughtOfDay.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{vm.thoughtOfDay.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.thoughtOfDay.title}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{vm.thoughtOfDay.url}}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
            <div ng-if="vm.thoughtOfDay.image">
                <a ng-click="vm.openFile(vm.thoughtOfDay.imageContentType, vm.thoughtOfDay.image)">
                    <img data-ng-src="{{'data:' + vm.thoughtOfDay.imageContentType + ';base64,' + vm.thoughtOfDay.image}}" style="max-width: 100%;" alt="thoughtOfDay image"/>
                </a>
                {{vm.thoughtOfDay.imageContentType}}, {{vm.byteSize(vm.thoughtOfDay.image)}}
            </div>
        </dd>
        <dt><span>Short Text</span></dt>
        <dd>
            <span>{{vm.thoughtOfDay.shortText}}</span>
        </dd>
        <dt><span>Long Text</span></dt>
        <dd>
            <span>{{vm.thoughtOfDay.longText}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="thought-of-day-detail.edit({id:vm.thoughtOfDay.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
