<div>
    <h2>Path Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="path-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Path History
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span>Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isCompleted"><span>Is Completed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pathway.id"><span>Pathway</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pathStep.id"><span>Path Step</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pathAction.id"><span>Path Action</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pathHistory in vm.pathHistories track by pathHistory.id">
                    <td><a ui-sref="path-history-detail({id:pathHistory.id})">{{pathHistory.id}}</a></td>
                        <td>{{pathHistory.date | date:'mediumDate'}}</td>
                    <td>{{pathHistory.isCompleted}}</td>
                    <td>
                        <a ui-sref="path-way-detail({id:pathHistory.pathway.id})">{{pathHistory.pathway.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="path-step-detail({id:pathHistory.pathStep.id})">{{pathHistory.pathStep.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="path-action-detail({id:pathHistory.pathAction.id})">{{pathHistory.pathAction.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="path-history-detail({id:pathHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="path-history.edit({id:pathHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="path-history.delete({id:pathHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
