
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySleepDatumLabel">Create or edit a Sleep Datum</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sleepDatum.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sleepDatum.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_durationHours">Duration Hours</label>
            <input type="number" class="form-control" name="durationHours" id="field_durationHours"
                    ng-model="vm.sleepDatum.durationHours"
                    required min="0" max="24"/>
            <div ng-show="editForm.durationHours.$invalid">
                <p class="help-block"
                    ng-show="editForm.durationHours.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationHours.$error.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationHours.$error.max">
                    This field cannot be more than 24.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationHours.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_feel">Feel</label>
            <input type="text" class="form-control" name="feel" id="field_feel"
                    ng-model="vm.sleepDatum.feel"
                    required/>
            <div ng-show="editForm.feel.$invalid">
                <p class="help-block"
                    ng-show="editForm.feel.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" uib-datepicker-popup="{{dateformat}}" ng-model="vm.sleepDatum.timestamp" is-open="vm.datePickerOpenStatus.timestamp"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.timestamp.$invalid">
                <p class="help-block"
                    ng-show="editForm.timestamp.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.sleepDatum.userId" ng-options="user.id as user.login for user in vm.users"             required>
            </select>
        </div>
        <div ng-show="editForm.user.$invalid">
            <p class="help-block"
                ng-show="editForm.user.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
