<div>
    <h2>Triggers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="trigger.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Trigger
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="desc"><span>Desc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="triggerMetric"><span>Trigger Metric</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notifcationTrigger.id"><span>Notifcation Trigger</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wellnessItem.id"><span>Wellness Item</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="incentiveAction.id"><span>Incentive Action</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trigger in vm.triggers track by trigger.id">
                    <td><a ui-sref="trigger-detail({id:trigger.id})">{{trigger.id}}</a></td>
                    <td>{{trigger.name}}</td>
                    <td>{{trigger.desc}}</td>
                    <td>{{trigger.triggerMetric}}</td>
                    <td>
                        <a ui-sref="notifcation-trigger-detail({id:trigger.notifcationTrigger.id})">{{trigger.notifcationTrigger.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="wellness-item-detail({id:trigger.wellnessItem.id})">{{trigger.wellnessItem.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="incentive-action-detail({id:trigger.incentiveAction.id})">{{trigger.incentiveAction.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="trigger-detail({id:trigger.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trigger.edit({id:trigger.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trigger.delete({id:trigger.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
