
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResourcesLabel">Create or edit a Resources</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resources.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resources.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.resources.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_desc">Desc</label>
            <input type="text" class="form-control" name="desc" id="field_desc"
                    ng-model="vm.resources.desc"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setIcon($file, vm.resources)">
            <label class="control-label" for="field_icon">Icon</label>
            <div>
                <div ng-if="vm.resources.icon" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.resources.iconContentType, vm.resources.icon)">open</a><br>
                    <span class="pull-left">{{vm.resources.iconContentType}}, {{vm.byteSize(vm.resources.icon)}}</span>
                    <button type="button" ng-click="vm.resources.icon=null;vm.resources.iconContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setIcon($file, vm.resources)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="icon" id="field_icon"
                    ng-model="vm.resources.icon"
                    />
            <input type="hidden" class="form-control" name="iconContentType" id="field_iconContentType"
                    ng-model="vm.resources.iconContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_resourceUrl">Resource Url</label>
            <input type="text" class="form-control" name="resourceUrl" id="field_resourceUrl"
                    ng-model="vm.resources.resourceUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_resourceType">Resource Type</label>
            <select class="form-control" name="resourceType" ng-model="vm.resources.resourceType" id="field_resourceType">
                <option value="URL">URL</option>
                <option value="CALL">CALL</option>
                <option value="SMS">SMS</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
