
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProgramLabel">Create or edit a Program</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.program.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.program.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.program.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.program.description"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setIcon($file, vm.program)">
            <label class="control-label" for="field_icon">Icon</label>
            <div>
                <div ng-if="vm.program.icon" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.program.iconContentType, vm.program.icon)">open</a><br>
                    <span class="pull-left">{{vm.program.iconContentType}}, {{vm.byteSize(vm.program.icon)}}</span>
                    <button type="button" ng-click="vm.program.icon=null;vm.program.iconContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setIcon($file, vm.program)">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="icon" id="field_icon"
                    ng-model="vm.program.icon"
                    />
            <input type="hidden" class="form-control" name="iconContentType" id="field_iconContentType"
                    ng-model="vm.program.iconContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isPaid">Is Paid</label>
                <input type="checkbox" name="isPaid" id="field_isPaid"
                          ng-model="vm.program.isPaid"/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
