
<div>
    <h2><span>Note</span> {{vm.note.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{vm.note.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Text</span></dt>
        <dd>
            <div ng-if="vm.note.text">
                <a ng-click="vm.openFile(vm.note.textContentType, vm.note.text)">open</a>
                {{vm.note.textContentType}}, {{vm.byteSize(vm.note.text)}}
            </div>
        </dd>
        <dt><span>Track Metric</span></dt>
        <dd>
            <a ui-sref="track-metric-detail({id:vm.note.trackMetric.id})">{{vm.note.trackMetric.id}}</a>
        </dd>
        <dt><span>Program Step</span></dt>
        <dd>
            <a ui-sref="program-step-detail({id:vm.note.programStep.id})">{{vm.note.programStep.id}}</a>
        </dd>
        <dt><span>User Info</span></dt>
        <dd>
            <a ui-sref="user-info-detail({id:vm.note.userInfo.id})">{{vm.note.userInfo.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="note-detail.edit({id:vm.note.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
