<div>
    <h2>Program Steps</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="program-step.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Program Step
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descriptionF"><span>Description F</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mediaUrl"><span>Media Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isLocked"><span>Is Locked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPaid"><span>Is Paid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="programLevel.id"><span>Program Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="programHistory.id"><span>Program History</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="programStep in vm.programSteps track by programStep.id">
                    <td><a ui-sref="program-step-detail({id:programStep.id})">{{programStep.id}}</a></td>
                    <td>{{programStep.name}}</td>
                    <td>{{programStep.descriptionF}}</td>
                    <td>{{programStep.mediaUrl}}</td>
                    <td>{{programStep.isLocked}}</td>
                    <td>{{programStep.isPaid}}</td>
                    <td>
                        <a ui-sref="program-level-detail({id:programStep.programLevel.id})">{{programStep.programLevel.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="program-history-detail({id:programStep.programHistory.id})">{{programStep.programHistory.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="program-step-detail({id:programStep.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="program-step.edit({id:programStep.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="program-step.delete({id:programStep.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
