<div>
    <h2>Path Actions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="path-action.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Path Action
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actionUrl"><span>Action Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="actionType"><span>Action Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trackMetric.id"><span>Track Metric</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="program.id"><span>Program</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pathStep.id"><span>Path Step</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pathAction in vm.pathActions track by pathAction.id">
                    <td><a ui-sref="path-action-detail({id:pathAction.id})">{{pathAction.id}}</a></td>
                    <td>{{pathAction.name}}</td>
                    <td>{{pathAction.actionUrl}}</td>
                    <td>{{pathAction.actionType}}</td>
                    <td>
                        <a ui-sref="track-metric-detail({id:pathAction.trackMetric.id})">{{pathAction.trackMetric.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="program-detail({id:pathAction.program.id})">{{pathAction.program.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="path-step-detail({id:pathAction.pathStep.id})">{{pathAction.pathStep.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="path-action-detail({id:pathAction.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="path-action.edit({id:pathAction.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="path-action.delete({id:pathAction.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
